:root {
  --neonPink-bs: #df0ddc;
  --darkgrey-bs: rgba(29, 29, 29, 0.866);
  --lightgrey-bs: #4d4d4d;
}
@font-face{
  font-family: repuex;
  src: url(../fonts/REPUEXPI.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body{
  background-image: url(../images/backgroundIndex.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
/* HEADER */
.headerContainer{
  background-color: var(--darkgrey-bs);
}
.logo{
  color: var(--neonPink-bs);
  font-size: 2rem;
  font-family: repuex;
  text-shadow: 0 0 10px var(--neonPink-bs);
}
.collapseMenu > ul > li > a{
  color: whitesmoke;
}
.collapseMenu > ul > li > a:hover{
  color: var(--neonPink-bs);
}
#loginBtn{
  color: whitesmoke;
  border: 1px solid whitesmoke;
}
#loginBtn:hover{
  color: var(--neonPink-bs);
  border: 1px solid var(--neonPink-bs);
  transform: scale(95%);
}
#freeTrialBtn{
  color: var(--neonPink-bs);
  border: 1px solid whitesmoke;
}
#freeTrialBtn:hover{
  color: var(--neonPink-bs);
  border: 1px solid var(--neonPink-bs);
  transform: scale(95%)
}
.navbarIcon{
  border:2px solid var(--neonPink-bs);
  color: var(--neonPink-bs);
}
.navbarIcon:focus{
  box-shadow: inset 0 0 10px var(--neonPink-bs);
}
/* CONTAINERS DEL MAIN */
.introductionContainer{
  margin: auto;
  margin-top: 2.5rem;
  color: whitesmoke;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  padding: 1rem;
  box-shadow: inset 0 0 10px #494949;
}
.introductionContainer > p{
  font-size: 1.3rem;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 2rem;
  text-align: justify;
}
.subtitleAd{
  font-size: 2rem;
  font-family: 'Roboto Condensed', sans-serif;
  color: whitesmoke;
  border-bottom: 1px solid var(--neonPink-bs);
  padding: 2rem;
}
.suscriptionContainer{
  color: whitesmoke;
  text-align: justify;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(15px);
  box-shadow: inset 0 0 10px #494949;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 2rem;
}
.suscriptionContainer > p{
  font-size: 1.3rem;
  font-family: 'Roboto Condensed', sans-serif;
  padding-top: 2rem;
}
.subtitleSuscription{
  border-bottom: 1px solid var(--neonPink-bs);
  font-family: 'Roboto Condensed', sans-serif;
}
.btnsuscription{
  color: whitesmoke;
  border: 1px solid whitesmoke;
}
.btnsuscription:hover{
  color: var(--neonPink-bs)!important;
  border: 1px solid var(--neonPink-bs)!important;
  transform: scale(95%)
}

@media (max-width: 576px) and (min-width: 220px){
  .introductionContainer > p{
    font-size: 1rem;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 2rem;
    text-align: justify;
  }
  .subtitleAd{
    font-size: 1.5rem;
    font-family: 'Roboto Condensed', sans-serif;
    color: whitesmoke;
    border-bottom: 1px solid var(--neonPink-bs);
    padding: 2rem;
  }
  .suscriptionContainer > p{
    font-size: 1rem;
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 2rem;
  }
  .subtitleSuscription{
    border-bottom: 1px solid var(--neonPink-bs);
    font-family: 'Roboto Condensed', sans-serif;
  }
}
/* FOOTER */
footer{
  background-color: aliceblue;
  width: 100%;
  height: 4rem;
}