@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Merienda&family=Roboto+Condensed&display=swap');

:root{
  --backColor:#111010;
  /* --backColor:#0b0909; */
}

.botonAtras{
  color: rebeccapurple;
  position: relative;
  bottom: 0.5rem;
}

body{
  margin: 0;
  height: 100vh;
  background-color: var(--backColor);
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: 'Roboto Condensed', sans-serif;
}

.contenedor-principal{
  height: 100vh;
  padding-top: 1rem;
}

.biblioteca{
  width: 100vw;
  color: white;
  font-size: 10px;
  font-weight: 500;
}

.contenedor-principal > div:first-child > div:nth-child(1){
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-principal > div:first-child > div:nth-child(2){
  font-size: 13px;
}

.portada-cancion{
  display: flex;
  justify-content: center;
  /* width: 21rem; */
}

.portada-cancion img{
  /* border: 0.5px solid #222222; */
  /* border-radius: 7px; */
  /* width: 24rem; */
  height: 21rem;
  object-fit: contain;
}

.music-container{
  border-radius: 15px;
  position: relative;
  top: 5rem;
}

.navigation{
  position: relative;
  bottom: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.navigation > button{
  position: relative;
  top: 2px;
  background-color: var(--backColor);
  z-index: -4;
}

.volverBoton{
  border: 0;
  background-color: white;
  cursor: pointer;
  font-size: 20px;
}

.action-btn{
  background-color: white;
  cursor: pointer;
  border: 0;
  font-size: 20px;
  padding: 2.5rem;
}

.music-info{
  border-radius: 15px 15px 0 0;
  position: relative;
  bottom: 2rem;
}

.progress-container{
  background-color: rgb(224, 224, 224);
  position: relative; 
  bottom: 6.5rem;
  border-radius: 0.375rem;
}

.progress{
  background-color: rebeccapurple;
  width: 0%;
  height: 4px;
  transition: width 0.1s linear;
}

#title{
  text-align: center;
}

.music-info > h4, p{
  text-align: center;
  color: white;
}

.fas{
  color: white;
}

#play{
  width: 7rem;
}

#prev, #next {
  font-size: 1.1rem;
}

.fa-pause:before{
  font-size: 1.3rem;
}

@media (min-width: 830px){
  .contenedor-principal{
    padding-top: 3rem;
  }
}