@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Merienda&family=Roboto+Condensed&display=swap");
:root {
  --neonPink-bs: #df0ddc;
  --darkgrey-bs: rgba(29, 29, 29, 0.866);
  --lightgrey-bs: #4d4d4d;
}
@font-face {
  font-family: repuex;
  src: url(../fonts/REPUEXPI.ttf);
}
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Merienda&family=Roboto+Condensed&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: rgb(33, 37, 41);
}
.backBtn{
  color: whitesmoke;
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
  padding-top: 5rem;
}
.backBtn:hover{
  color: var(--neonPink-bs);
}
.users {
  width: 100%;
  height: 10rem;
  background-color: rgb(12, 11, 11);
  color: white;
  text-align: center;
  padding-top: 2rem;
  font-family: repuex;
}
.AbmTable {
  width: 100%;
  height: auto;
}
.modalButton {
  color: whitesmoke;
  border: 1px solid whitesmoke;
  border-radius: 5px;
}
.modalButton:hover {
  color: var(--neonPink-bs) !important;
  border-radius: 5px;
  border: 1px solid whitesmoke !important;
}
.btnColor {
  background-color: var(--neonPink-bs);
}
.maddUserM{
  color: var(--neonPink-bs);
  border: 1px solid var(--neonPink-bs);
}
.maddUserM:hover{
  background-color: var(--neonPink-bs)!important;
  color: whitesmoke!important;
  border: 1px solid var(--neonPink-bs);
}
table > thead > tr > th {
  color: var(--neonPink-bs);
  font-size: 1.2rem;
  font-family: "Roboto Condensed", sans-serif;
}

@media (max-width: 576px) and (min-width: 220px){
  .AbmTable {
    width: 50%;
    height: auto;
  }
}